<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-left col-lg-6", style="padding-left:0px ">
        <label>User name: <%= @user.name %></label>
      </div>
       <div class="col-lg-offset-3 col-lg-6", style="margin-left: 1px">
      <%= link_to "List Users", users_path %>
    </div>
      <div style="width:400px; height:auto">
        <% if @user.image.attached? %>
        <%= link_to image_tag(@user.image, style:'width:100%'), edit_user_path %>
        <%end%>
        </div>


    <div class="col-md-6 col-md-offset-3", style="margin-left: 1px">
    <%= form_for(@user) do |f| %>
    <% if @user.image.attached? %>
    <%= f.submit"Remove image"%>
    <% end %>
    <% end %>
    </div>
      <div class="col-lg-6", style="padding-left: 0px ">
        <%= link_to "Logout", logout_path, method: :delete %>
      </div>
    </div> 
  </div>
</div>
      